@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/Maincss.css" rel="stylesheet" />
</head>
<body style="background-color: transparent; overflow: auto;">
    <div style="position: absolute; width: 100%; background: url(../../Content/Images/shiyanshi.png); min-width: 1075px; height: 5px;">
    </div>
    <div style="position: absolute; width: 100%; min-width: 1075px;">
        <img style="float: right;" src="../../Content/Images/caigoujiagong.png" />
    </div>
    <div class="divBG">
        <table cellpadding="0" cellspacing="0" class="biaoge" align="center">
            <tr style="vertical-align: bottom; height: 63px;">
                <td height="63px" style="border: 0px; text-align: left;">
                    <img src="../../Content/Images/biaogexuhao.png" /></td>
                <td height="63px" style="border: 0px;">
                    <img src="../../Content/Images/biaogeshiyanshi.png" /></td>
                <td height="63px" style="border: 0px;">
                    <img src="../../Content/Images/biaogeshiyongzhuangtai.png" /></td>
                <td height="63px" style="border: 0px;">
                    <img src="../../Content/Images/biaogejianyanxiangmu.png" /></td>
                <td height="63px" style="border: 0px;">
                    <img src="../../Content/Images/biaogefuzeren.png" /></td>
                <td height="63px" style="border: 0px; text-align: right;">
                    <img src="../../Content/Images/biaogelianxidianhua.png" /></td>
            </tr>
            <tr>
                <td bgcolor="#e9e9e9">1</td>
                <td bgcolor="#03a6df" style="color: #FFF;">食品安全实验室</td>
                <td bgcolor="#b5cee4">空闲</td>
                <td bgcolor="#e9e9e9">项目一</td>
                <td bgcolor="#b5cee4">张三</td>
                <td bgcolor="#e9e9e9">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4">2</td>
                <td bgcolor="#007bb1" style="color: #FFF;">微生物实验室</td>
                <td bgcolor="#d9edf6">空闲</td>
                <td bgcolor="#f4f4f4">项目二</td>
                <td bgcolor="#d9edf6">张三</td>
                <td bgcolor="#f4f4f4">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#e9e9e9">3</td>
                <td bgcolor="#03a6df" style="color: #FFF;">仪器分析实验室</td>
                <td bgcolor="#b5cee4">空闲</td>
                <td bgcolor="#e9e9e9">项目三</td>
                <td bgcolor="#b5cee4">张三</td>
                <td bgcolor="#e9e9e9">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4">4</td>
                <td bgcolor="#007bb1" style="color: #FFF;">食品营养实验室</td>
                <td bgcolor="#d9edf6">空闲</td>
                <td bgcolor="#f4f4f4">项目四</td>
                <td bgcolor="#d9edf6">张三</td>
                <td bgcolor="#f4f4f4">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#e9e9e9">5</td>
                <td bgcolor="#03a6df" style="color: #FFF;">设备、天平间</td>
                <td bgcolor="#b5cee4">空闲</td>
                <td bgcolor="#e9e9e9">项目五</td>
                <td bgcolor="#b5cee4">张三</td>
                <td bgcolor="#e9e9e9">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4">6</td>
                <td bgcolor="#007bb1" style="color: #FFF;">产品研究实验室</td>
                <td bgcolor="#d9edf6">空闲</td>
                <td bgcolor="#f4f4f4">项目六</td>
                <td bgcolor="#d9edf6">张三</td>
                <td bgcolor="#f4f4f4">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#e9e9e9">7</td>
                <td bgcolor="#03a6df" style="color: #FFF;">化学药品间</td>
                <td bgcolor="#b5cee4">空闲</td>
                <td bgcolor="#e9e9e9">项目七</td>
                <td bgcolor="#b5cee4">张三</td>
                <td bgcolor="#e9e9e9">13800138000</td>
            </tr>
            <tr>
                <td bgcolor="#f4f4f4">8</td>
                <td bgcolor="#007bb1" style="color: #FFF;">样品间</td>
                <td bgcolor="#d9edf6">空闲</td>
                <td bgcolor="#f4f4f4">项目八</td>
                <td bgcolor="#d9edf6">张三</td>
                <td bgcolor="#f4f4f4">13800138000</td>
            </tr>
            <tr height="35px">
                <td height="35px" colspan="3" style="border: 0px;"></td>
                <td height="35px" style="border: 0px; text-align: center;"><a href="#">
                    <img src="../../Content/Images/biaogeanniu.png" /></a></td>
                <td height="35px" style="border: 0px;"></td>
                <td style="border: 0px;">
                    <table align="center" width="110">
                        <tr>
                            <td style="border: 0;"><a href="#" style="height: 20px; width: 18px; display: block; background: url(../../Content/Images/fenyeanniu1.png) no-repeat;">1</a></td>
                            <td style="border: 0;"><a href="#" style="height: 20px; width: 18px; display: block; background: url(../../Content/Images/fenyeanniu1.png) no-repeat;">2</a></td>
                            <td style="border: 0;"><a href="#" style="height: 20px; width: 18px; display: block; background: url(../../Content/Images/fenyeanniu1.png) no-repeat;">3</a></td>
                            <td style="border: 0;"><a href="#" style="height: 20px; width: 18px; display: block; background: url(../../Content/Images/fenyeanniu2.png) no-repeat;">4</a></td>
                            <td style="border: 0;"><a href="#" style="height: 20px; width: 18px; display: block; background: url(../../Content/Images/fenyeanniu1.png) no-repeat;">5</a></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute; top: 75px; height: 533px; z-index: 99997; min-width: 100px; float: right; left: 780px; width: 290px;">
        <table align="center" width="290px">
            <tr>
                <td>
                    <table bgcolor="#ffffff" align="center" width="283px" height="116px">
                        <tr>
                            <td align="center" style="font-family: '宋体'; font-size: 30px;">10:00:50</td>
                        </tr>
                        <tr>
                            <td align="center">201年10月19日  星期六</td>
                        </tr>
                        <tr>
                            <td align="center">
                                <img src="../../Content/Images/yin.png" />
                                <br />
                                北京市2/14℃
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="gsdt" align="center">
                        <tr style="background-color: transparent;">
                            <td colspan="3" height="31px" background="../../Content/Images/gongsidongtai.png" style="text-align: right; border: 0; vertical-align: bottom;"><a href="#">
                                <img src="../../Content/Images/gengduo.png" alt="" /></a></td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公司动态公司动态公司...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" class="gsdt" align="center">
                        <tr style="background-color: transparent;">
                            <td colspan="3" height="31px" background="../../Content/Images/gonggaobeijing.png" style="text-align: right; border: 0; vertical-align: bottom;"><a href="#">
                                <img src="../../Content/Images/gengduo.png" alt="" /></a></td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                        <tr>
                            <td width="30px">
                                <img src="../../Content/Images/xinxitubiao.gif" alt="" /></td>
                            <td>公告通知公告通知公告...</td>
                            <td width="70px">2013-10-01</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute; top: 445px; right: 45px; height: 143px; z-index: 99997; min-width: 300px; left: 10px; width: 760px;">
        <table align="center" style="width: 100%">
            <tr>
                <td><a href="#">
                    <img src="../../Content/Images/zuobianyidong.gif" /></a></td>
                <td>
                    <img src="../../Content/Images/gundongtupian.gif" height="143" /></td>
                <td><a href="#">
                    <img src="../../Content/Images/youbianyidong.gif" /></a></td>
            </tr>
        </table>
    </div>
</body>
</html>
