@{
    ViewBag.Title = "Bottom";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href='@Url.Content("~/Content/XINDECSS/MainStyle.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/XINDECSS/ColorStyle.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/XINDECSS/LayoutStyle.css")' rel="stylesheet" type="text/css" />

    <style type="text/css">
        .bottom_foot {
            width: 100%;
            height: 27px;
            text-align: center;
            line-height: 27px;
            color: #10607c;
            background: url(../../Content/Images_ZHU/images_29.jpg) repeat-x;
        }
    </style>
</head>
<body>
    <div class="bottom_foot">版权所有：海油发展配餐服务公司</div>
</body>
</html>

